html,body{
    height:100%
}
body{
    background: #ececec;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h2{
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    margin: 10px 0px 0px 15px;
    font-weight: 1000;
}
th{
    padding: 10px 10px; 
    border-style: none;
    border-width: 0ch;
}
thead th{
    font-weight:bold;
}
thead{
    padding-bottom: 15px;
}
tbody th {
    font-weight:normal;
    text-align: left;
}

tbody tr:hover {
    background:lightgray;
}

.contacts{
    padding: 15px 20px 0px 20px;
}

.container{
    margin: 20px;
    background: white;
    border-radius: 25px;
    padding: 20px;
    flex-grow: 1;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.person-form{
    padding: 15px;
    border-radius: 25px;
}

.formrow{
    width: fit-content;
    padding: 7px 0px;
}

label{
    margin-right: 10px;
}

.textinput{
    border-left: white;
    border-right: white;
    border-top: white;
    border-bottom: 1 solid black;
    padding: 7px 11px 2px 7px;
}

.button{
    background: lightgray;
    color: #555555;
    font-weight:800;
    border-style: hidden;
    padding: 4px 11px;
    border-radius: 5px;
}



.button:hover{
    background: #a9a9a9;
    color: #222222;
}

.button:active{
    background:lightgray;
    color:black;
}

.newContact{
    padding: 8px 18px;
}

#msg{
    font-weight: bold;
    display: none;
    color: green;
}

#loading {
    position: absolute;
    top: 45px;
    left: 280px;
    font-weight: bold;
    display: none;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border-radius: 8px;
}

#content {
    display: none;
}

