html,body{
    height:100%
}
body{
    background: #ececec;
    position: relative;
}

h2{
    width: fit-content;
    margin: 10px 0px 0px 15px;
    font-weight: 1000;
}
th{
    padding: 10px 10px;
    border-style: none;
    border-width: 0ch;
}
.person-form th{
    padding: 10px 10px 12px 0px;
}
thead th{
    font-weight:bold;
}
thead{
    padding-bottom: 15px;
}
tbody th {
    font-weight:normal;
    text-align: left;
}

.contactsBody tr:hover {
    background:lightgray;
    cursor: pointer;
}

.contacts{
    padding: 15px 20px 0px 20px;
    height: 550px;
}

#addContact{
    margin: 10px 15px 0px 0px
}

.container{
    margin: 20px;
    background: white;
    border-radius: 25px;
    padding: 20px 20px 35px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.upsert{
    width: fit-content;
}

.behind{
    background: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.person-form{
    width: 500px;
    padding: 15px;
    border-radius: 25px;
}

.formrow{
    width: 100%;
    padding: 7px 0px;
}

label{
    margin-right: 10px;
}

.textinput{
    border-left: white;
    border-right: white;
    border-top: white;
    border-bottom: 1 solid black;
    padding: 7px 11px 2px 7px;
    width: 340px;
}

.newContact{
    width: 49%;
}

#msg{
    font-weight: bold;
    display: none;
    color: green;
}

#loading {
    position: absolute;
    top: 45px;
    left: 280px;
    font-weight: bold;
    display: none;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border-radius: 8px;
}

#content {
    display: none;
}



